.full-width-table {
  width: 100%;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:hover {
  background-color: #f0f0f0;
}

.loading-message, .error-message, .no-data-message {
  padding: 20px;
  text-align: center;
  font-size: 1.1em;
  color: #555;
}

.error-message {
  color: red;
  font-weight: bold;
}

.profit {
  color: #4CAF50;
  font-weight: bold;
}

.loss {
  color: #F44336;
  font-weight: bold;
}

.neutral {
  color: #555;
}